<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698412757742-8ghej4fk1dul8cdpjs7mg6hh9rihe5d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698412757742-8ghej4fk1dul8cdpjs7mg6hh9rihe5d5</string>
	<key>API_KEY</key>
	<string>AIzaSyDADD-hnuC28GndPsPIGhlmI-X7tWRpY8w</string>
	<key>GCM_SENDER_ID</key>
	<string>698412757742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseCliApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-de475</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-de475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698412757742:ios:779f6ebc5f8b6f3e8a39ff</string>
</dict>
</plist>